__pycache__/*
*.py[cod]

# IntelliJ project files
.idea
*.idea
out
gen
*.xml.

# Python, saas, mac files
*.*~
*~
*.pyc
*.DS_Store
.DS_Store
.sass-cache
*csv
*sql

*out
*log
env
media
*.html
*pub
dist
